.container {
  display: flex;

  background-color: #3d3d3d;
  color: #fff;
  height: 45px;
  line-height: 40px;
  padding: 0 20px;

  i {
    color: #fff;
    &:hover {
      cursor: pointer;
      background-color: #646464;
      border-radius: 5px;
    }
  }

  .left-actions {
    float: left;
  }

  .right-actions {
    margin-left: auto;
    margin-right: 0;
  }

  .avatar {
    margin: 2px 0px;
    padding: 0px 5px;
    color: #fff;
    &:hover {
      cursor: pointer;
      background-color: #646464;
      border-radius: 5px;
    }
  }
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  .left-actions-item {
    display: none;
  }
}

@media (max-width: 768px) {
  .left-actions > :first-child {
    display: none;
  }
}
