.container {
  grid-row: 1;
  grid-column: 1 / 4;
  display: block;
  background-color: #3d3d3d;
  color: #fff;
  height: 45px;
  line-height: 40px;
  padding: 0 20px;

  .left-actions {
    float: left;
  }

  .right-actions {
    float: right;
  }

  .avatar {
    float: right;
  }
}
