@import "~antd/dist/antd.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  #root {
    height: 100vh;
  }
}

a {
  text-decoration: none !important;
  color: black;
}

i {
  font-size: 18px;
  padding: 8px;
  margin: 5px;
}

ul {
  padding: 0;
  list-style: none;
}
