.account-content {
  display: flex;
  padding: 40px;
  .header {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 10px;
  }
  .profile {
    flex: 1;
    padding: 10px 20px;
    border-right: 1px solid lightgray;
  }
  .password {
    flex: 1;
    padding: 10px 20px;
    border-left: 1px solid lightgray;
  }
}

@media (max-width: 768px) {
  .account-content {
    flex-direction: column;
    .profile {
      border-right: none;
      border-bottom: 1px solid lightgray;
      padding: 20px 10px;
    }

    .password {
      border-left: none;
      border-top: 1px solid lightgray;
      padding: 20px 10px;
    }
  }
}
